<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<div class = "questions_new">

  <%= form_for(:question, :url => {:action => 'create'}) do |f| %>

      <table summary="Question_form_fields">
        <tr>
          <th>Survey ID</th>
          <td><%= f.text_field(:survey_id)%></td>
        </tr>
        <tr>
          <th>Content</th>
          <td><%= f.text_area(:content)%></td>
        </tr>
      </table>
    <div class="form_buttons">
      <%= submit_tag("Create question") %>
    </div>
  <% end %>
</div>

