<td><%= link_to('<< Back to list', {:action => 'index', :survey_id => @survey.id}, :class => 'back-link') %></td>

<h2>Edit question:</h2>

<div class = "question_edit">

  <%= form_for(:question, :url => {:action => 'update', :id => @question.id, :survey_id => @survey.id }) do |f| %>

      <table summary="Question_form_fields">
        <tr>
          <th>Survey ID</th>
          <td><%= f.text_field(:survey_id)%></td>
        </tr>
        <tr>
          <th>Content</th>
          <td><%= f.text_area(:content)%></td>
        </tr>
      </table>
    <div class="form_buttons">
      <%= submit_tag("Update survey") %>
    </div>
  <% end %>
</div>

