
<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table class = "listing" summary = "question_list"> 

    <tr class = "header">
      <th>&nbsp</th>
      <th>Survey ID:<br /><br /></th>
      <th>&nbsp</th>
      <th>Content:<br /><br /></th>
      <th colspan="3"></th>
    </tr>

    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.survey_id %></td>
        <td class="actions">
          <td><%= link_to('Show', {:action => 'show', :id => question.id}, :class => 'action_show') %></td>
          <td><%= link_to('Edit', {:action => 'edit', :id => question.id}, :class => 'action_edit')  %></td>
      </tr>
    <% end %>
</table>

<br />

<%= link_to('New Question', {:action => 'new'}, :class => 'action_new') %>
