<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="col-md-10">
	<thead>
		<% for question in @survey.questions do %>
			<li><%= h question.content %></li>
				<% for answer in question.answers do %>
					<li><%= h answer.content %>
					<%= check_box_tag(:correct_answer, "yes", false) %></li>
				<% end %>
		<% end %>
	</thead>
</table>


  <%= link_to t('.back', :default => t("helpers.links.back")),
              surveys_path, :survey_id => @survey.id, :class => 'btn btn-default'  %>
  <%= link_to t('Previous question', :default => t("helpers.links.previous")),
              {:action => 'show', :id => @survey.previous, :survey_id => @survey.id}, :class => 'btn btn-default' %>
  <%= link_to t('Next question', :default => t("helpers.links.next")),
             { :action => 'show', :id => @survey.next, :survey_id => @survey.id}, :class => 'btn btn-default' %>

  
  




