<%- model_class = Quiz -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:survey) %></th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:answers) %></th>
    </tr>
  </thead>
  <tbody>
    <% question = @questions.first %>
      <tr>
          <td><%= question.name %></td>
          <td><%= question.content %></td>
        <td><%=l question.created_at, format: :long %></td>
      </tr>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_quiz_path,
            :class => 'btn btn-primary' %>

