<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<h2>Update survey</h2>

<div class = "survey_edit">

  <%= form_for(:survey, :url => {:action => 'update', :id => @survey.id, :survey_id => @survey.id }) do |f| %>

      <table summary="Survey_form_fields">
        <tr>
        <th>Survey: </th>
          <td><%= f.text_field(:name)%></td>
        
          <th>Question: </th>  
            <td><%= f.fields_for :questions do |fc| %>
                <%= fc.text_area :content %>
            <% end %></td>    
          <th>Answer: </th>
            <td><%= f.fields_for :answers do |fd| %>
                <%= fd.text_field :content %>
            <% end %></td>
          <th>Answer: </th>
            <td><%= f.fields_for :answers do |fe| %>
                <%= fe.text_field :content %>
            <% end %></td>
          <th>Answer: </th>
            <td><%= f.fields_for :answers do |ff| %>
                <%= ff.text_field :content %>
            <% end %></td>
          <th>Answer: </th>
            <td><%= f.fields_for :answers do |fg| %>
                <%= fg.text_field :content %>
            <% end %></td>          
        </tr>

      </table>

        <td><%= link_to('Delete', {:action => 'destroy', :id => @survey.id }, :class => 'action_edit')  %></td>
      </tr>
      </table>
    <div class="form_buttons">
      <%= submit_tag("Update survey") %>
    </div>
  <% end %>
</div>






  

