<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<h2>Update survey</h2>

<div class = "survey_edit">

  <%= form_for(@survey, :url => {:action => 'update', :id => @survey.id, :survey_id => @survey.id }) do |f| %>

      <p summary="Survey_form_fields">
        <tr>
          <li><%= f.label :name, "Survey: " %>
              <%= f.text_field :name %>
          </li>
          <ul>  
            <li><%= f.fields_for :questions do |builder| %>
                   <%= builder.label :content, "Question: " %>
                   <%= builder.text_area :content, :rows => 3 %>
                
            </li>
            <li> 
                    <%= f.fields_for :answers do |fb| %>
                          <%= fb.label :content, "Answer: " %>
                          <%= fb.text_field :content %>
                    <% end %>
                <% end %>
            </li>
                  
          </ul>
        </tr>

      </p>

        <td><%= link_to('Delete', {:action => 'destroy', :id => @survey.id }, :class => 'action_edit')  %></td>
    <div class="form_buttons">
      <%= submit_tag("Update survey") %>
    </div>
  <% end %>
</div>






  

