
<p id="notice"><%= notice %></p>

<h1>Listing Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Name: </th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= link_to('View questions', {:controller => 'questions', :survey_id => survey.id }, :class => 'action_show') %></td>
        <td><%= link_to('Show', {:action => 'show', :id => survey.id}, :class => 'action_show') %></td>
        <td><%= link_to('Edit', {:action => 'edit', :id => survey.id}, :class => 'action_edit')  %></td>
        <td><%= link_to('Delete', {:action => 'delete', :id => survey.id}, :class => 'action_delete')  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Survey', {:action => 'new'}, :class => 'action_new') %>
