<%= form_for @survey, :url => {:action => 'create', :survey_id => @survey.id} do |f| %>

  <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
  <%= f.fields_for :questions do |builder| %>
    <p>
      <%= builder.label :content, "Question" %><br />
      <%= builder.text_area :content, :rows => 3 %>
    </p>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>

<!--<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<div class = "survey_new">

  <%= form_for(:survey, :url => {:action => 'create'}) do |f| %>

      <table summary="Survey_form_fields">
        <tr>
          <th>Name</th>
          <td><%= f.text_field(:name)%></td>
        </tr>
      </table>
    <div class="form_buttons">
      <%= submit_tag("Create survey") %>
    </div>
  <% end %>
</div>
-->