<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<%= form_for(@survey, :url => {:action => 'create', :survey_id => @survey.id}) do |f| %>

  <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
  <%= f.fields_for :questions do |ff| %>
      <%= render 'question_fields', :f => ff %>
  
      <%= ff.fields_for :answers do |fff| %>
          <%= render 'answer_fields', :f => fff %>
      <% end %>
      <p><%= f.submit "Submit" %></p>
  <% end %>
<% end %>
