<%= form_for @survey, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div id="rootwizard">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<ul>
			  	<li><a href="#tab1" data-toggle="tab">First</a></li>
				<li><a href="#tab2" data-toggle="tab">Second</a></li>
			</ul>
	 	</div>
	  </div>
	</div>
	<div class="tab-content">
	    <div class="tab-pane" id="tab1">
	      <%= f.text_field :name, :class => 'control-label col-md-6' %>
	    </div>
	    <div class="tab-pane" id="tab2">
	    	<%= f.fields_for :questions do |ff| %>
                <%= render 'question_fields', :f => ff %>
              		<%= ff.fields_for :answers do |fff| %>
                        <%= render 'answer_fields', :f => fff %>
                    <% end %>
          	<% end %>
	    </div>
		<br /><br />
		<div style='col-md-offset-2 col-md-10'>
			<%= link_to t('.back', :default => t("helpers.links.surveys")),
                    surveys_path, :class => 'btn btn-default'  %>
           	<%= link_to t('.create', :default => t("helpers.links.create")), {:action => 'create'}, :class => 'btn btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                        surveys_path, :class => 'btn btn-default' %>
		</div>
	</div>	
  </div>
<% end %>  