<td><%= link_to('<< Back to list', {:action => 'index'}, :class => 'action_index') %></td>

<div class="survey show">
  <h2><strong>Show survey:</strong></h2>
	<table summary="Survey detail view">
		<tr>
			<th>Name: </th>
				<td><%= h @survey.name %></td>
		</tr>
		<tr>
			<th>Question: </th>
				<td><% for question in @survey.questions do %>
  							<li><%= h question.content %></li>
  					<% end %>
  				</td>
		</tr>
		<tr>
			<th>Created_at: </th>
				<td><%= @survey.created_at %></td>
		</tr>

      <tr>
    
        <td><%= link_to('Edit', {:action => 'edit', :id => @survey.id }, :class => 'action_edit')  %></td>
      </tr>
	</table>

</div>